#myFooter {
    background-color: #109ee0;
    color: white;
    padding-top: 1px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 13px;
    text-align: center;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 1px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: purple;
}

#myFooter .whatsApp:hover {
    color: #00aced;
}

#myFooter .btn {
    color: rgb(3, 0, 0);
    font-weight:bold;
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
    width: 250px;
    display:inline-block;
 
}
/* CSS utilizado para posicionar o rodapé no final da página. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    margin: 0;
}

.TopoOuBaixoCabecalho{
   flex: 1 0 auto;
   min-height: 100px;
}

body { 
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    max-width: 100%;
}

.btn-home {
    position:absolute; 
    font-size: 25px;
    top:20%;
    left:23%;
    transform: translate(-80%, -90%); /* transformar /reduzir */
    margin-left: 100px;
}

.btn-icon {
	padding: 8px;
	background: #ffffff;
}

.btn-novidade{
    position:absolute; 
    font-size: 25px;
    top:20%;
    left:50%;
    transform: translate(-80%, -90%); /* transformar /reduzir */
}

.btn-jogos {
    position:absolute; 
    font-size: 25px;
    top:20%;
    left:50%;
    transform: translate(30%, -90%); /* transformar /reduzir */
}

.btn-contato {
  position:absolute; 
  font-size: 25px;
    top:20%;
    left:50%;
    transform: translate(140%, -90%); /* transformar /reduzir */
}

#bem_vindo {
	position: absolute; 
   background-image: auto;
	left: 600px; /* posiciona  para a esquerda */ 
	top: -10px; /* posiciona  para baixo */
}

#goku {
    position: absolute; 
    background-image: auto;
	left: -50px; /* posiciona  para a esquerda */ 
	top: 200px; /* posiciona  para baixo */
}

#voce-sabia {
    position: absolute; 
    background-image: auto;
	left: 80px; /* posiciona  para a esquerda */ 
	top:180px; /* posiciona  para baixo */
}

#pes2021 {
    position: absolute; 
    background-image: auto;
	left: 480px; /* posiciona  para a esquerda */ 
	top:130px; /* posiciona  para baixo */
}
#linhaNaTela {
    position: absolute; 
    background-image: auto;
	left: 1px; /* posiciona  para a esquerda */ 
	top:320px; /* posiciona  para baixo */
    width: 1400px;

}

#controle-animation {
    position: absolute; 
    background-image: auto;
	left:40px; /* posiciona  para a esquerda */ 
	top:390px; /* posiciona  para baixo */
}

.texto {
    position: absolute;
    font-family:Cursive;
    font-size:50px;
    margin-left: 120px;
    margin-top:410px;
}

#playstation-logo {
    position: absolute; 
    background-image: auto;
	left: 999px; /* posiciona  para a esquerda */ 
	top:400px; /* posiciona  para baixo */
}
#texto-play {
    position: absolute; 
    background-image: auto;
	left: 600 px; /* posiciona  para a esquerda */ 
	top:  500px; /* posiciona  para baixo */
}

@media screen and (max-width: 900px) {
    #myFooter {
        text-align: center;
    }
}


* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

